.box select {
    background-color: #dc3545;
    color: white;
    padding: 12px;
    width: auto;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

